* {
    font-family: 'Athiti', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 88px;
    text-align: center;
    color: #2F4858;
    padding-left: 3em;
    padding-right: 3em;
}
.container {
    display: none;
}
.info h1 {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: .5em;
}
.info-under-construction {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.info span {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 2em;
}
.social-media-under-construction {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 2em;
}
.social-media-under-construction p {
    font-size: .7em;
    color: #ffffff;
    background-color: #2F4858;
}
.social-media-under-construction a {
    margin: 1em;
}
@media (max-width: 414px) {
    .info {
        display: none;
    }
    header {
        display: flex;
        flex-direction: row;
        padding: .5em .5em .5em 1em;
    }
    .myname {
        flex: 9;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #2F4858;
    }
    .hamburger-menu {
        flex: 1;
        justify-content: flex-end;
        align-self: center;
        margin-right: 1em;
    }
    .nav-icon {
        margin: .5em .5em .5em 1em;
        align-self: center;
        width: 30px;
    }
    .nav-icon:after, 
    .nav-icon:before, 
    .nav-icon div {
        background-color: #2F4858;
        border-radius: 3px;
        content: '';
        display: block;
        height: 2px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
    }
    .nav-icon:hover .white-menu {
        display: grid;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .box1 {
        height: 375px;
        background: #9EC4B2;
    }
    .box2 {
        height: 375px;
        background: #C9A48D;
    }
    .box3 {
        height: 375px;
        background: #FFEA99;
    }
    .get-in-touch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em;
        height: 520px;
    }
    .get-in-touch h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 55px;
        line-height: 88px;
        text-align: center;
    }
    .get-in-touch img {
        transform: scale(.8);
    }
    .get-in-touch p {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
    }
    .follow-me {
        display: grid;
        grid: 300px / 1fr;
        justify-self: center;
        height: 520px;
    }
    .follow-me h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 56px;
        text-align: center;
        align-self: center;
        margin: 1em;
        padding-top: 2em;
        color: #2F4858;
    }
    .linkedin-instagram {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
    }
    .linkedin-instagram a {
        padding: 1em;
    }
    .code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 520px;
    }
    .code h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 96px;
        text-align: center;
        color: #2F4858;
    }
    .separator {
        border: 1px solid #2F4858;
    }
    .white-menu {
        display: none;
        /* display: grid; */
        grid-template-rows: 1fr 0.5fr 0.5fr .8fr;
        grid-gap: 2em;
        height: 812px;
    }
    header:hover .white-menu {
        position: fixed; 
    }
    .white-menu a {
        justify-self: center;
    }
    .white-menu-email {
        align-self: flex-end;
    }
    .white-menu-github {
        align-self: flex-start;
    }
    .white-menu-linkedin {
        align-self: flex-end;
    }
    .white-menu-instagram {
        align-self: flex-start;
    }
    .swipe-line {     
        border: 1px solid #4B4737;
        width: 50px;
        justify-self: center;
        margin-bottom: 2.5em;
    }
}
